accelerate
albumentations
basicsr
diffusers
einops
fpie
huggingface-hub
ipykernel
matplotlib
numpy
opencv-python
pandas
Pillow
upscalers
realesrgan
safety
scikit-image
scikit-learn
scipy
seaborn
statsmodels
supervisely
timm
tqdm
transformers